<div class="panel">

	<div class="panel-heading">
		<h3 class="panel-title">Admin menu</h3>
  	</div>
    
    <ul class="side-nav">
	<li><a href="{link Admin:}">Správa obsahu</a> 
	<li><a href="#" class="toggle">Přidat obsah</a> 
	    <ul class="toggable no-display">
		<li><a href="{link Article:add}">článek</a></li>
		<li><a href="{link Match:add}">zápas</a></li>
		<li><a href="{link Training:add}">trénink</a></li>
	    </ul>
	</li>
    </ul>
    
</div>