<div class="panel">

    <h5>Admin menu</h5>
    
    <ul class="side-nav">
	<li><a href="{link Admin:}">Správa obsahu</a> 
	<li><a href="#" class="toggle">Přidat obsah</a> 
	    <ul class="toggable hidden">
		<li><a href="{link Article:add}">článek</a></li>
		<li><a href="{link Match:add}">zápas</a></li>
		<li><a href="{link Training:add}">trénink</a></li>
	    </ul>
	</li>
    </ul>
    
</div>

<hr />