<div class="block">

    <div class="title">Admin menu</div>
    
    <ul>
	<li><a href="{link Article:add}">Přidat článek</a></li>
	<li><a href="{link Match:add}">Přidat zápas</a></li>
	<li><a href="{link Training:add}">Přidat trénink</a></li>
    </ul>
    
</div>