<div class="panel">

	<div class="panel-heading">
		<h3 class="panel-title">Narozeniny</h3>
  	</div>
    
    <table class="table table-condensed panel-table">
    {foreach $birthdays as $bday}
	<tr>
	    <td><a href="{link Player:single $bday->id}">{$bday->name} {$bday->surname}</a></td>
	    <td class="text-right">{$bday->birth|date:'d.m.'} ({$bday->age} let)</td>
	</tr>
    {/foreach}
    </table>
    
</div>