<div class="block">

    <h5>Narozeniny</h5>
    
    <table class="twelve block-table">
    {foreach $birthdays as $bday}
	<tr>
	    <td><a href="{link Player:single $bday->id}">{$bday->name} {$bday->surname}</a></td>
	    <td>{$bday->birth|date:'d.m.'} ({$bday->age} let)</td>
	</tr>
    {/foreach}
    </table>
    
</div>

<hr />