<div class="panel">

	<div class="panel-heading">
        <h3 class="panel-title">Facebook</h3>
    </div>
    
    <div class="fb-like-box" data-href="http://www.facebook.com/SokolVeterov" data-width="259" data-height="200" data-show-faces="true" data-border-color="#e3e3e3" data-stream="false" data-header="false"></div>
    
</div>