<div class="panel">

    <div class="panel-heading">
        <h3 class="panel-title">Střelci týmu</h3>
    </div>
    
    <table class="table table-condensed panel-table">
    {foreach $scorers as $scorer}
	<tr>
	    <td><a href="{link Player:single $scorer->id}">{$scorer->name} {$scorer->surname}</a></td>
	    <td>{$scorer->goals}</td>
	</tr>
    {/foreach}
    </table>
    
    <a href="{link Player:statistics}" class="alt-link">Kompletní statistiky</a>
    
</div>

<hr />