<div class="block">

    <div class="title">Střelci týmu</div>
    
    <table>
    {foreach $scorers as $scorer}
	<tr>
	    <td><a href="{link Player:single $scorer->id}">{$scorer->name} {$scorer->surname}</a></td>
	    <td>{$scorer->goals}</td>
	</tr>
    {/foreach}
    </table>
    
</div>