{snippet}

<h2>Sestava (počet hráčů: {$counter})</h2>

<table class="format">

    {foreach $players as $player}
    <tr n:class="$isParticipate[$player->id] ? participating : not-participating">
	<td><a n:href="participate! $matchId, $player->id, $isParticipate[$player->id]" class="ajax">{$player->surname} {$player->name}</a></td>
	<td>{if $isParticipate[$player->id]}{$numbers[$player->id]}{/if}</td>
    </tr>
    {/foreach}
    
</table>
{/snippet}