{snippet}
<table id="data-table" class="table table-condensed table-hover">
    <thead>
	<tr class="pointer">
	    <th>Hráč</th>
	    <th><abbr title="Zápasy celkem">ZC</abbr></th>
	    <th><abbr title="Základní sestava">ZS</abbr></th>
	    <th><abbr title="Střídání do hry">SI</abbr></th>
	    <th><abbr title="Střídání ze hry">SO</abbr></th>
	    <th><abbr title="Odehrané minuty">M</abbr></th>
	    <th><abbr title="Góly">G</abbr></th>
	    <th><abbr title="Góly z penalt">GP</abbr></th>
	    <th><abbr title="Asistence">A</abbr></th>
	    <th><abbr title="Žluté karty">ŽK</abbr></th>
	    <th><abbr title="Červené karty">ČK</abbr></th>
	</tr>
    </thead>
    
    <tbody>
    {foreach $players as $player}
	    <tr>
		<td><a href="{plink Player:single $player->id}">{$player->surname} {$player->name}</a></td>
		<td>{$stats[$player->id]['matches']}</td>	
		<td>{$stats[$player->id]['starting']}</td>	
		<td>{$stats[$player->id]['subs_in']}</td>	
		<td>{$stats[$player->id]['subs_out']}</td>	
		<td>{$stats[$player->id]['mins']}</td>	
		<td>{$stats[$player->id]['goals']}</td>	
		<td>{$stats[$player->id]['goals_pen']}</td>	
		<td>{$stats[$player->id]['assists']}</td>	
		<td>{$stats[$player->id]['y_cards']}</td>	
		<td>{$stats[$player->id]['r_cards']}</td>	
	    </tr>
    {/foreach}
    </tbody>
    
</table>
{/snippet}