{var $title = 'Admin'}

{block content}

<h1>{$title}</h1>

<ul>
    <li><a href="{link Admin:users}">Uživatelé</a></li>
    <li><a href="{link Admin:teamRegister}">Registrované týmy</a></li>
    <li><a href="{link Admin:playerRegister}">Registrovaní hráči</a></li>
    <li><a href="{link Image:}">Obrázky</a></li>
</ul>

{/block}