{var $title = 'Editace zápasu'} 

{block content}

<h1>{$title}</h1>

{control matchEditForm}

<div class="links">
    <a href="{link Match:addEvent $matchId}">Přidat událost</a>
    <a href="{link Match:addSubs $matchId}">Přidat střídání</a>
</div>

{control startingEleven}


{/block}