<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="description" content="Oficiální stránky fotbalového klubu Sokol Věteřov.">
	<meta name="keywords" content="věteřov, sokol, fotbal" />
	<meta name="author" content="Pavel Potáček" />
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{ifset $title}{$title} &#124; Sokol Věteřov{elseifset $titleComplete}{$titleComplete}{else}Sokol Věteřov{/ifset}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
	
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery-ui-timepicker-addon.css">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/dateInput.css">

	{block head}{/block}
	
</head>

<body>

	<div class="container">
	
	<script> document.body.className+=' js' </script>

	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/cs_CZ/all.js#xfbml=1&appId=321874377867113";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<!-- Header -->

	<div class="row">

				<!-- Page title -->
				<div class="col-lg-8">
					<h1 class="site-header">
						<a href="{link Homepage: }" title="Domů">Sokol Věteřov</a>
					</h1>
				</div>
				<!-- End Page title -->
				
				<!-- Login and Search -->
				<div class="col-lg-4">
					<div class="pull-right">
					{if $user->isLoggedIn()}
						<i class="icon-user"></i>
						<span class="name">{$user->getIdentity()->login} ({$user->getIdentity()->name} {$user->getIdentity()->surname})</span> |
						<a n:href="signOut!">Odhlásit</a>
					{else}
						<a href="{link Sign:in}">Přihlásit</a> | <a href="{link Page:register}">Registrace</a>
					{/if}
					</div>
				</div>
				<!-- End Login and Search -->
			
	</div>

	<!-- End Header -->


	<!-- Navigation -->
	{include './blocks/menu.latte', accessAllowed => $accessAllowed}
	<!-- End Navigation -->


	<!-- Main Page Content and Sidebar -->
	
	<div class="row">
		
		<!-- Main Content -->
		<div class="col-lg-8" role="content">

			{snippet flash}
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
			{/snippet}

			{include #content}

		</div>

		<!-- End Main Content -->


		<!-- Sidebar -->

		<aside class="col-lg-4">
				{if $user->isInRole('admin')}
				{include './blocks/admin.latte', lastMatch => $lastMatch}
				{/if}
				{include './blocks/matches.latte', lastMatch => $lastMatch}
				{include './blocks/table.latte', table => $table}
				{include './blocks/scorers.latte', scorers => $scorers}
				{include './blocks/birthdays.latte', birthdays => $birthdays}
				{include './blocks/fb.latte'}
		</aside>

		<!-- End Sidebar -->
	</div>

	<!-- End Main Page Content and Sidebar -->

	<hr />
	
	<!-- Footer -->

  	<footer class="row">
		<div class="col-lg-12">
  			<div class="text-center">Copyright © 2013 <a href="mailto:admin@sokol-veterov.cz">Pavel Potáček</a></div>
		</div>
	</footer>

	<!-- End Footer -->
	
	{block scripts}
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/twitter-bootstrap-hover-dropdown.min.js"></script>

	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/spinner.ajax.js"></script>
	
	<script type='text/javascript' src="{$basePath}/js/jquery-ui-timepicker-addon.js"></script>
	<script type='text/javascript' src="{$basePath}/js/dateInput.js"></script>

	<script type='text/javascript' src="{$basePath}/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{$basePath}/ckeditor/ckeditor.js"></script>
	
	<script type="text/javascript" src="{$basePath}/js/scripts.js"></script>
	{/block}
	
	{include './blocks/ganalytics.latte'}

	</div><!--/.container -->

</body>
</html>
