@import url(http://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,700&subset=latin-ext);

body {
	font-family: "Open Sans",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans",sans-serif;
	font-weight: 700;
}

h1.site-header {
	font-size: 54px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	a {
		color: #333;
		text-decoration: none;
	}
}

footer {
	margin: 30px 0;
}

.panel-title {
	font-weight: 700;
}

p {
	//font-family: Georgia, "Cambria", serif;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

a[href^="error:"] {
	background: red;
	color: white;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

html.js .jshidden {
	display: none;
}

.red {
	color: red;
}

.no-display {
	display: none;
}

.form-draw {
	 background-color: #f0ad4e;
}

.form-V {
	background-color: #5cb85c;
}

.form-P {
	background-color: #d9534f;
}

.article-info {
	font-weight: bold;
}

.article-details {
	font-size: 13px;
}

.article-full {
	.info {
		margin-bottom: 20px;
	}
	span {
		margin-right: 10px;
	}
}

.panel-table {
	margin-bottom: 0;
	tr:first-child td {
		border-top: none;
	}
}

.alt-link {
	display: block;
	font-size: 13px;
	margin-top: 20px;
}